<div class="form-group">
  <%= form_tag(:action => 'logowanie') do %>
  <table class="table table-striped">
    <tr>
      <th><%= label_tag(:uzytkownik, "Użytkownik: ") %></th>
      <td><%= text_field_tag(:uzytkownik) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:haslo, "Hasło: ") %></th>
      <td><%= password_field_tag(:haslo) %></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><%= submit_tag("Zaloguj", :class => 'btn btn-primary') %></td>
    </tr>
  </table>
  <% end %>
</div>