<div class="hero-unit">
<h1>Edycja Galerii: <%= @zdjecia.nazwa %></h1>

<%= form_for(:zdjecia, :url => {:action => 'aktualizuj', :id => @zdjecia.id, :galerie_id => @galerie.id}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole}) %>

<div style="text-align: center;">
	<%= link_to("anuluj", {:action => 'index', :galerie_id => @galerie.id}, :class => 'btn btn-warning')%>
	<%= submit_tag("aktualizuj", :class => 'btn  btn-primary') %>
</div>

<% end %>

</div>