<h1>Test#witaj</h1>
<p>app/views/test/witaj.html.erb</p>
<p>
	<% suma =  2 + 2  %>

	Suma = <%= suma %>

	<br>

	<% imie = "Tomek" %>
	<%= "Witaj #{imie} w Kursie Ruby" %>
<p/>

<p>
	<%= link_to('powrót', {:action=>'nawigacja'}) %>
</p>

<p>
	<%=  "Parametr id = " + params[:id] %>
</p>

<p>
	Parametr id= <%= params[:id] %>
</p>

<p>
	Strona = <%= params[:strona] %>
</p>

<p>
	Strona = <%= params[:strona].to_i + 1 %>
</p>

