<div class="hero-unit">
<h1>Edycja danych użytkownika: <%= @uzytkownik.imie + " " + @uzytkownik.nazwisko %></h1>

<%= form_for(:uzytkownik, :url => {:action => 'aktualizuj', :id => @uzytkownik.id}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole}) %>

<div style="text-align: center;">
	<%= link_to("anuluj", {:action => 'index'}, :class => 'btn btn-warning')%>
	<%= submit_tag("aktualizuj", :class => 'btn  btn-primary') %>
</div>

<% end %>

</div>