<% @tytul_strony = @galeria.nazwa %>
<div class="container">
	<h2><%= @galeria.nazwa %></h2>
	<div class="row">
	<div class="col-md-8">
		<%= @galeria.opis%>
<hr>
<p><%= link_to("<< WSTECZ",{:controller => 'public', :action => 'index'}, :class => 'btn btn-default' )%></p>
	</div>
	<div class="col-md-4">
		<%= image_tag(@galeria.zdjecie.url, :class => 'featurettw-image img-responsive')%>
	</div>	
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
	<% @galeria.zdjecies.each do |zdjecie|%>
		<div class="col-xs-6 col-md-4">
			<a class="example-image-link" href="<%= zdjecie.zdjecie.url %>" data-lightbox="example-set" title="<%= zdjecie.opis %>">
			<%= image_tag(zdjecie.zdjecie.url(:thumb)) %></a>
			<br>
			<%= zdjecie.nazwa %>
		</div>
	<%end%>	
	</div>
</div>

<div class="container">
<% @galeria.zdjecies.widoczne.each_slice(3) do |zdjecie|%>
	<div class="row">
	<% zdjecie.each do |zdj| %>
	<div class="col-md-4">
		<a class="example-image-link" href="<%= zdj.zdjecie.url %>" data-lightbox="example-set" title="<%= zdj.opis %>">
			<%= image_tag(zdj.zdjecie.url(:thumb)) %> </a>
			<br>
			<%= zdj.nazwa %>
	</div>
	<%end %>
	</div>
<% end %>
</div>
