<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Szkolenia <%= "| #{@tytul_strony}" if @tytul_strony%></title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= javascript_include_tag('application')%>
</head>
<body>
  <!--nawigacja-->
  <%= render(:partial=>"menu") %>

  <div id="content">
  <%= yield %>
  </div>
<!-- stopka -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">
        	StrefaKursów 2014 &copy; <a href="http://www.strefakursow.pl" target="_blank">http://www.strefakursow.pl</a>
        </p>
      </div>
    </div>

</body>
</html>